body{
    font:20px, Arial, sans-serif;
}

.navbar{
    background-color: #a6c259;
}

.quem-somos{
    background-color: #2ECCFA;
    color: white;
}

.margin{
    padding-bottom: 20px;
    padding-top: 20px;
}

.parceiros{
    background-color: #2E64FE;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}